# Node modules
node_modules/

# Build output
dist/
build/
*.tsbuildinfo

# Jest coverage reports
coverage/

# Source maps
*.js.map

# Ignore all JS files EXCEPT jest.config.js
*.js
!jest.config.js

# Env variables and secrets
.env
.env.*

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE/editor settings
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# macOS system files
.DS_Store
